.container {
  margin: auto;
}

.title {
  font-weight: bold;
  font-size: larger;
  margin-top: 20px;
  color: white;
}

.text {
  color: white;
}

button {
  text-align: center;
  display: block;
  margin: 30px auto;
  height: 35px;
  width: 150px;
  border-radius: 8px;
  border: none;
}
